openapi: 3.2.0
info:
  title: Rokt Catalog CSV API
  version: 1.0.1
  description: Integrate with Rokt Catalog
servers:
- url: https://api.shopcanal.com/platform
  description: Rokt Catalog Storefront Public API
tags:
- name: CSV
paths:
  /csv/download_shopkeep_line_items/:
    get:
      operationId: csv_download_shopkeep_line_items_retrieve
      tags:
      - CSV
      security:
      - basicAuth: []
      - platformAppId: []
        platformAppToken: []
      - {}
      responses:
        '200':
          description: No response body
      summary: Csv download shopkeep line items retrieve
      x-summary-source: derived
  /csv/download_unfulfilled_supplier_line_items/:
    get:
      operationId: csv_download_unfulfilled_supplier_line_items_retrieve
      tags:
      - CSV
      security:
      - basicAuth: []
      - platformAppId: []
        platformAppToken: []
      - {}
      responses:
        '200':
          description: No response body
      summary: Csv download unfulfilled supplier line items retrieve
      x-summary-source: derived
  /csv/product/template/:
    get:
      operationId: csv_product_template_retrieve
      tags:
      - CSV
      security:
      - basicAuth: []
      - platformAppId: []
        platformAppToken: []
      - {}
      responses:
        '200':
          description: No response body
      summary: Csv product template retrieve
      x-summary-source: derived
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    platformAppId:
      type: apiKey
      in: header
      name: X-CANAL-APP-ID
    platformAppToken:
      type: apiKey
      in: header
      name: X-CANAL-APP-TOKEN
