openapi: 3.2.0
info:
  title: Rokt Catalog Selection API
  version: 1.0.1
  description: Integrate with Rokt Catalog
servers:
- url: https://api.shopcanal.com/platform
  description: Rokt Catalog Storefront Public API
tags:
- name: Selection
paths:
  /selection/ai-select/:
    post:
      operationId: selection_ai_select_create
      description: 'AI-powered product selection endpoint.


        Accepts arbitrary JSON for items and context, uses parallel per-item GPT calls,

        and returns the zero-based index of the best item with reasoning and confidence.


        Request format:

        {

        "items": [arbitrary JSON objects, at least one],

        "context": {arbitrary JSON object, non-empty},

        "session_id": "optional string",

        "timeout_ms": optional int or null,

        "metadata": {

        "temperature": 0.5,

        "llmModel": "gpt-4o",

        "embeddingModel": "text-embedding-3-small",

        "prompt": "default",

        "verbosity": "low", // GPT-5 only: "low", "medium", or "high"

        "reasoningEffort": "low" // reasoning models: "low" or "medium";

        // newer GPT-5 models may also use "none"

        }

        }


        Response format:

        {

        "chosenIndex": 0,

        "reasoning": "I would buy the Nike shoe cleaner...",

        "confidence": 0.82,

        "processingTimeMs": 1245

        }'
      tags:
      - Selection
      security:
      - basicAuth: []
      - platformAppId: []
        platformAppToken: []
      responses:
        '200':
          description: No response body
      summary: Selection ai select create
      x-summary-source: derived
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    platformAppId:
      type: apiKey
      in: header
      name: X-CANAL-APP-ID
    platformAppToken:
      type: apiKey
      in: header
      name: X-CANAL-APP-TOKEN
